<h1>Login</h1>
{{#if messages.error }}
<p>{{messages.error}}</p>
{{/if}}
<div>
  <form action='/login' method='POST'>
    <div>
      <label for="name">Enter name</label>
      <input type="text" name="name" id="name" required>
    </div>
    <div>
      <label for="password">Enter password</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>
</div>
<a class='btn-link' href='/'>Home page</a>
<a class='btn-link' href='/register'>Register</a>