<h1>Register</h1>
<form action='/user/add' method='POST'>
  <label for="name">Enter name</label>
  <input type="text" name="name" id="name">

  <label for="password">Enter password</label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Create account">
</form>