<h1>Register</h1>
<div>
  <form action='/user/add' method='POST'>
    <label for="name">Enter name</label>
    <input type="text" name="name" id="name">

    <label for="password">Enter password</label>
    <input type="password" name="password" id="password">

    <input type="submit" value="Create account">
  </form>
</div>
<a class='btn-link' href='/'>Home page</a>