body {
  background-color: #bbdefb;
  margin: 0;
  padding: 0;
}
h1 {
  color: navy;
}

.btn-link {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;

  color: #e3f2fd;
  background-color: #0d47a1;

  border-radius: 5px;
}

form > div {
  margin: 10px;
}
